{% extends "html/chart_page.twig" %}

{% block content %}
	{% for chart in Charts %}
	<div id='chart_div_{{chart.num}}' style='{% if chart.width %}width:{{chart.width}};{% endif %}{% if chart.height %}height:{{chart.height}};{% endif %}'></div>
	{% endfor %}

	<script type="text/javascript">

function drawCharts() {
	{% for chart in Charts %}

		var data_{{chart.num}} = [
			{%- for key,value in chart.Rows[0].values -%}
				{
				  type: 'scatter',
				  mode: 'lines',
				  name: '{{chart.Rows[0].values[key].key}}',
				  x: [],
				  y: []
				}
				{%- if not loop.last -%},{%- endif -%}
			{%- endfor -%}
		];

		{% for row in chart.Rows %}
			{% for value in row.values %}
				{% if not loop.first %}
					data_{{chart.num}}[{{ loop.index-1 }}].x.push('{{ row.values[0].getValue() }}');
					data_{{chart.num}}[{{ loop.index-1 }}].y.push('{{value.getValue()}}');
				{% endif %}
			{% endfor %}
		{% endfor %}

		Plotly.newPlot('chart_div_{{chart.num}}', data_{{chart.num}});
	{% endfor %}
}

 window.onload = function() {
   drawCharts();
 };

	</script>
{% endblock %}